

.m_cekT_header{
    height: 1.49rem;
    background-color: #d33f36;
    border-bottom: 1px solid #995260;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}
.m_cekT_header_wraper{
    width: 9.9rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m_cekT_header_wraper>span{
    font-size: 0.5rem;
    color: white;
    display: block;
}
.m_cekT_header_wraper>span>a{
    font-size: 0.6rem;
    color: white;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
.m_cekT_header_wraper>span:first-child>a{
    padding-right: 0.44rem;
    margin-right: 0.4rem;
    border-right: 1px solid #a8261d;
}
.m_cekT_main{
    margin-top: 1.5rem;
}
.m_cekT_TOP{
    height: 2.51rem;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.45rem;
}
.m_cekT_TOP>a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1.8rem;
    height: 1.41rem;
    border-left: 0.03rem solid #e5e5e5;
    text-decoration: none;
    font-size: 0.31rem;
    color: #979797;
    text-align: center;
    margin-left: 0.42rem;
}
.m_cekT_TOP>a>i{
    display: block;
    color: #1ba5e9;
    font-size: 0.55rem;
}


.m_cekT_TOP>div{
    flex-grow: 1;
    
}
.m_cekT_TOP>div>h1{
    font-size: 0.45rem;
    font-weight: normal;
    color: #202020;
    
}
.m_cekT_TOP>div>h1>i{
    color: #ffb500;
    font-size: 0.3rem;
    font-style: normal;
}
.m_cekT_TOP>div>h1>i>span{
    font-size: 0.35rem;
}
.m_cekT_TOP>div>h2{
    font-size: .38rem;
    color: #989898;
    display: flex;
    justify-content: space-between;
   margin-bottom: 0.18rem;
   margin-top: 0.04rem;
   font-weight: normal;
}
.m_cekT_TOP>div>h2>a{
    text-decoration: none;
    color: #989898;
    font-size: 0.5rem;
}
.m_cekT_TOP>div>div{
    display: flex;
}
.m_cekT_TOP>div>div>a{
    display: block;
    height: 0.44rem;
    padding: 0 0.07rem;
    color: #5099a7;
    font-size: 0.28rem;
    line-height: 0.44rem;
    text-align: center;
    text-decoration: none;
    border: 0.02rem solid #5099a7;
    margin-right: 0.12rem;
    border-radius: 0.05rem;
}
.m_cekT_TWO{
    height: 1.3rem;
    border-bottom: 0.03rem solid #e6e9e8;
   
    display: flex;
    align-items: center;
    
}
.m_cekT_TWO>a{
    flex: 1;
    display: block;
    height: 0.75rem;
    line-height: 0.75rem;
    color: #737373;
    font-size: 0.4rem;
    text-decoration: none;
    text-align: center;
}
.m_cekT_TWO>a>i{
    margin-right: 0.46rem;
    color: #ffbc00;
    font-size: 0.42rem;
}
.m_cekT_TWO>a:last-child{
    border-left: 1px solid  #e6e9e8;
}
.m_cekT_TWO>a:last-child>i{
    color: #fb6852;
}
.m_cekT_banner{
    height: 4.59rem;
    width: 100%;
    background-image: url(../../img/xiangqingbeijing.jpg);
    background-repeat: no-repeat;
    background-size: 10.8rem 4.59rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.m_cekT_banner>ul{
    display: flex;
    height: 100%;
    
}
.m_cekT_banner>ul>li{
    margin-right: 0.8rem;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.m_cekT_banner>ul>li:first-child{
    margin-left: 4.5rem;
}

.m_cekT_banner>ul>li>label>input{
    display: none;
}
.m_cekT_banner>ul>li>label>input:checked+div>img{
    transform: scale(1.2);
    border: 0.04rem solid #fff;
}
.m_cekT_banner>ul>li>label>input:checked+div>div{
    display: block;
}
.m_cekT_banner>ul>li>label>div>img{
    display: block;
    width: 2.24rem;
    height: 3.16rem;
}
.m_cekT_banner>ul>li>label>div>div{
    position: absolute;
    width: 0;
    height: 0;
    bottom: -0.02rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 0.2rem solid #fff;
    border-right: 0.2rem solid rgba(0, 0, 0, 0);;
    border-left: 0.2rem solid rgba(0, 0, 0, 0);
    display: none;
}

















.m_cekT_iten{
    height: 1.64rem;
    border-bottom: 1px solid #d5d5d5;
}
.m_cekT_iten_wraper{
    width: 9.9rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.m_cekT_iten_wraper>a{
    font-size: 0.6rem;
    color: #9b9b9b;
    text-decoration: none;
}

.m_cekT_iten_wraper>div>h1{
    font-size: 0.44rem;
    font-weight: normal;
    color: black;
}
.m_cekT_iten_wraper>div>h2{
    color: #9b9b9b;
    font-size: 0.37rem;
    font-weight: normal;
}
.m_cekT_iten_wraper>div>h1>i{
    font-size: 0.3rem;
    color: #ffb600;
    font-style: normal;
}
.m_cekT_iten_wraper>div>h1>i>span{
    font-size: 0.40rem;
}
.m_cekT_buy{
    height: 1.19rem;
    background-color: #fef4c9;
    border-top: 0.45rem solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.m_cekT_buy_wraper{
    width: 9.9rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f89b08;
    font-size: 0.37rem;
}
.m_cekT_buy_wraper>a{
    text-decoration: none;
    color: #f89b08;
}
.m_cekT_today{
    height: 1.44rem;
    border-bottom: 1px solid #d5d5d5;
}
.m_cekT_today>h1{
    font-weight: normal;
    font-size: 0.39rem;
    color: #ec4e40;
    width: 3.8rem;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.44rem;
    border-bottom: 0.06rem solid #ec4e40;
}
.m_cekT_class{
    border-bottom: 1px solid #d4d4d4;
}
.m_cekT_class_wraper{
    width: 9.9rem;
    margin: 0 auto;
    height: 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m_cekT_class_wraper_left img{
    width: 1.83rem;
    height: 0.55rem;
    vertical-align: baseline;
    margin-right: 0.2rem;
}
.m_cekT_class_wraper_left>p{
    font-size: 0.33rem;
    color: #989898;
    margin-top: 0.26rem;
}
.m_cekT_class_wraper_left>div{
    font-size: 0.35rem;
    font-weight: normal;
}
.m_cekT_class_wraper_left>p>span:first-child{
    display: inline-block;
    width: 1.83rem;
    vertical-align: baseline;
    margin-right: 0.2rem;
}
.m_cekT_class_wraper_right{
    display: flex;
}
.m_cekT_class_wraper_right>a{
    display: block;
    height: 0.77rem;
    color: #e85036;
    font-size: 0.34rem;
    text-decoration: none;
    text-align: center;
    line-height: 0.77rem;
    padding: 0 0.22rem;
    border: 1px solid #e85036;
    border-radius: 0.07rem;
    margin-left: 0.64rem;
}
.m_cekT_class_wraper_right{
    text-align: right;
    display: flex;
    align-items: center;
}
.m_cekT_class_wraper_right>div>h1{
    color: #da4240;
    font-size: 0.29rem;
}
.m_cekT_class_wraper_right>div>h1>span{
    font-size: 0.47rem;
}
.m_cekT_class_wraper_right>div>p{
    color: #ff9600;
    font-size: 0.3rem;
}