

.m_detail_headerbg>img{
    height: 7.92rem;
    width: 100%;
    display: block;
}
.m_detail_headerbg{
    position: fixed;
    width: 100%;
    top: 0;
}
.m_detail_header{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}
.m_detail_header_wraper{
    width: 9.9rem;
    margin: 0 auto;
    height: 7.92rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.m_detail_header_wraper_top{
    display: flex;
    justify-content: space-between;
}
.m_detail_header_wraper_top>a{
    font-size: 0.54rem;
    color: white;
    font-weight: normal;
    text-decoration: none;
}
.m_detail_header_wraper_middle{
    display: flex;
}
.m_detail_header_wraper_middle_left{
    position: relative;
    border: 3px solid #fff;
}
.m_detail_header_wraper_middle_left>img{
    width: 3.24rem;
    height: 4.44rem;
    display: block;
}
.m_detail_header_wraper_middle_left>a{
    font-size: 0.33rem;
    color: white;
    text-decoration: none;
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.02rem solid #fff;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.m_detail_header_wraper_middle_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.47rem;
}

.m_detail_header_wraper_middle_right>h1{
    font-size: 0.49rem;
    color: white;
    font-weight: normal;
}
.m_detail_header_wraper_middle_right>h2{
    font-size: 0.28rem;
    color: wheat;
    font-weight: normal;
}
.m_detail_header_wraper_middle_right>p{
    font-size: 0.45rem;
    color: #ffc700;
    font-weight: normal;
    font-style: normal;
}
.m_detail_header_wraper_middle_right>h4{
    font-weight: normal;
    font-size: 0.28rem;
    color: #bebebb;
}
.m_detail_header_wraper_middle_right>h3{
    font-size: 0.35rem;
    color: #bebebb;
}
.m_detail_header_wraper_middle_right>h3>i{
    display: inline-block;
    vertical-align: middle;
    height: 0.39rem;
    line-height: 0.39rem;
    padding: 0 0.08rem;
    background-color: #837e76;
    color: wheat;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}
.m_detail_header_wraper_middle_right>h3>a{
    color: #bebebb;
    text-decoration: none;
}
.m_detail_header_bottom{
    display: flex;
    justify-content: space-between;
}
.m_detail_header_bottom>a{
    display: block;
    background-color: #615d51;
    color: #f2f3fe;
    font-size: 0.4rem;
    width: 4.78rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border: 1px solid #706a69;
    border-radius: 0.1rem;
    text-decoration: none;
}
.m_detail_header_bottom>a>i{
    color: #cdcccc;
    font-size: 0.42rem;
}
.m_detail_maintext{
    margin-top: 7.92rem;
    border-bottom: 0.51rem solid #f5f5f5;
}
.m_detail_maintext>p{
    font-size: 0.42rem;
    padding: 0.4rem 0.43rem 0;
}
.m_detail_maintext>a{
    display: block;
    text-align: center;
    height: 0.7rem;
    line-height: 0.7rem;
    text-decoration: none;
    color: #c1c1c1;
}



.m_detail_footer{
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #f14e40;
    width: 100%;
}
.m_detail_footer>a{
    height: 1.5rem;
    display: block;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    text-decoration: none;
    font-size: 0.48rem;
}
.m_detail_actor{
    padding-left: 0.45rem;
   
}
.m_detail_actor_head{
    height: 1.21rem;
    display: flex;
    width: 10rem;
}
.m_detail_actor_head>h1{
   font-size: 0.42rem;
   height: 0.77rem;
   font-weight: normal;
   height: 100%;
   line-height: 1.21rem;
   margin-right: 1.6rem;
}
.m_detail_actor_head>p{
    flex-grow: 1;
    text-align: right;
    height: 100%;
    line-height: 1.21rem;
    font-size: 0.36rem;
}
.m_detail_actor_head>p>a{
    color: #989898;
    text-decoration: none;
}
.m_detail_actor_head>p>a>i{
    font-size: 0.40rem;
}
.m_detail_actor_man{
    display: flex;
    margin-bottom: 1.55rem;
}

.m_detail_actor_man img{
    width: 2.1rem;
    height: 2.7rem;
    display: block;
}
.m_detail_actor_man p{
    font-size: 0.35rem;
    text-align: center;
}
.m_detail_actor_man_right{
    overflow-x: scroll;
}
.m_detail_actor_man_right>ul{
    display: flex;
}
.m_detail_actor_man_right>ul>li{
    margin-right: 0.15rem;
}
.m_detail_actor_man_right>ul>li:first-child{
    margin-left: 0.3rem;
}





















