
.m_load_header{
    height: 1.49rem;
    background-color: #db413a;
    border-bottom: 1px solid #ad4f48;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m_load_header>div{
    height: 100%;
}
.m_load_header>div>a{
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-style: normal;
}
.m_load_header_left>a{
    font-size: 0.5rem;
    padding: 0 0.47rem;
    border-right: 1px solid #a8261d;
    
}
.m_load_header_left>p{
    font-size: 0.48rem;
    padding: 0 0.47rem;
    display: inline-block;
    vertical-align: middle;
    color: white;
}
.m_load_header_right>a{
    font-size: 0.44rem;
    padding: 0 0.39rem;
}
.m_load_ldimg{
    height: 4.30rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m_load_ldimg>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.m_load_ldimg>div>img{
    width: 1.77rem;
    height: 1.77rem;
    display: block;
    border-radius: 50%;
    border: 0.1rem solid #e6ebe9;
}

.m_load_ldimg>a{
    display: block;
    text-decoration: none;
    font-size: 0.41rem;
    
    padding: 0 0 0.36rem 0.47rem;
    color: #989898;
}

.m_load_input_text{
    padding: 0 0.43rem;
    font-size: 0.46rem;
    border-bottom: 1px solid #e4e4e4;
}
.m_load_input_text>div{
    height: 1.5rem;
    line-height: 1.5rem;
    display: flex;
}
.m_load_input_text>div:first-child{
    border-bottom: 1px solid #e4e4e4;
}
.m_load_input_text>div:last-child>span{
    letter-spacing: 0.25rem;
}
.m_load_input_text>div>span{
    width: 2.4rem;
    display: block;
    /* vertical-align: middle; */
    color: black;
    text-align: left;
}
.m_load_input_text>div>input{
    display: block;
    font-size: 0.46rem;
    /* vertical-align: middle; */
    border: none;
    outline: none;
}
.m_load_input_btnload{
    display: block;
    background-color: #f14e40;
    color: white;
    font-size: 0.44rem;
    width: 9.90rem;
    height: 1.33rem;
    margin: 0.6rem auto 0;
    border-radius: 0.1rem;
    border: 1px solid #c25d53;
}
.m_load_input_link{
    width: 9.90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 0.48rem;
}
.m_load_input_link>a{
    text-decoration: none;
    font-size: 0.37rem;
    color: #e35346;
}
.m_load_input_three{
    width: 9.90rem;
    margin: 0 auto;
    text-align: center;
    font-size: 0.44rem;
    color: #989898;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.08rem;
}
.m_load_input_three>div{
    flex: 1;
}
.m_load_input_three>div:first-child,
.m_load_input_three>div:last-child{
    border-bottom: 1px dashed #989898;
    height: 0;
}
.m_load_input_spritelogo{
    width: 9.90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.68rem;
    margin-bottom: 1.16rem;
}
.m_load_input_spritelogo>a{
    display: block;
    text-decoration: none;
}
.m_load_input_spritelogo>a>img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: block;
    margin-bottom: 0.41rem;
}
.m_load_input_spritelogo>a>i{
    display: block;
    font-style: normal;
    font-size: 0.38rem;
    color: black;
    text-align: center;
}
